<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="WorkFlowControl.WorkflowWS.WorkflowWs" value="http://ccfiis/Microsoft.Ccf.Csr.WebServices.ContactCenterAif/Workflow.svc"/>
    <add key="Microsoft.Ccf.Samples.WorkFlowControl.WorkflowWS.WorkflowWs" value="http://ccfiis/Microsoft.Ccf.Csr.WebServices.ContactCenterAif/Workflow.svc"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://ccfiis/Microsoft.Ccf.Csr.WebServices.ContactCenterAif/Workflow.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1"
        contract="Microsoft.Ccf.Samples.WorkFlowControl.WorkflowService.WorkflowWs" />
      <endpoint address="http://ccfiis/Microsoft.Ccf.Csr.WebServices.ContactCenterAif/Workflow.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1"
        contract="Microsoft.Ccf.Samples.WorkFlowControl.WorkflowWS.WorkflowWs" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding1">
          <!--  default maxStringContentLength is insufficient for Configuration service -->
          <readerQuotas maxStringContentLength="99999999" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="Binding2">
          <!--  default maxStringContentLength is insufficient for Configuration service -->
          <readerQuotas maxStringContentLength="99999999" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
