<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Microsoft.Ccf">
      <section name="Common.Listeners" type="Microsoft.Ccf.Common.Listeners.Configuration.ListenerConfigurationHandler, Microsoft.Ccf.Common.Listeners" />
      <section name="HostedApplicationToolkit.AutomationHosting.AutomationManager" type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <section name="Csr.Providers" type="Microsoft.Ccf.Common.Providers.Configuration.ProviderConfigurationHandler, Microsoft.Ccf.Common.Providers" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.Ccf.Samples.Csr.AgentDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <Microsoft.Ccf>
    <Common.Listeners>
      <listeners>
        <add name="LoggingErrorMessage" type="Microsoft.Ccf.Common.Logging.Providers.LoggingErrorMessage, Microsoft.Ccf.Common.Logging.Providers" />
        <add name="LoggingLogFile" type="Microsoft.Ccf.Common.Logging.Providers.LoggingLogFile, Microsoft.Ccf.Common.Logging.Providers" logfile="c:\CCF.log" appname="Customer Care Framework" />
        <!--
                <add name="LoggingEventLog"
                    type="Microsoft.Ccf.Common.Logging.Providers.LoggingEventLog, Microsoft.Ccf.Common.Logging.Providers" 
                    logname="Application"
                    appname="Customer Care Framework" />
                <add name="LoggingMessageBox" type="Microsoft.Ccf.Common.Logging.Providers.LoggingMessageBox, Microsoft.Ccf.Common.Logging.Providers"/>
                -->
        <!-- Example to remove
                    <remove name="LoggingMessageBox"/>
                -->
      </listeners>
    </Common.Listeners>
    <HostedApplicationToolkit.AutomationHosting.AutomationManager>
      <CommonParameters>
        <!-- multiple assembly references can be added to the WF/AutomationManager runtime 
                                         as long as the name starts with "TypeProvider.AddAssemblyReference" -->
        <add name="TypeProvider.AddAssemblyReference.1" value="Microsoft.Ccf.HostedApplicationToolkit.Activity" />
      </CommonParameters>
    </HostedApplicationToolkit.AutomationHosting.AutomationManager>
    <Csr.Providers defaultProvider="ExtendedApplicationDemo">
      <providers>
        <add name="ExtendedApplicationDemo" type="Microsoft.Ccf.Samples.ExtendedApplicationDemo.ExtendedApplicationDemo, Microsoft.Ccf.Samples.ExtendedApplicationDemo" />
      </providers>
    </Csr.Providers>
  </Microsoft.Ccf>
  <system.serviceModel>
    <client>
      <endpoint address="http://ccfiis/Microsoft.Ccf.Csr.WebServices.Customer/Customer.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Adapter.CustomerWS.Customer" />

      <!-- address set by config entry: name=AgentDesktop_AddressBook_AddressBook,type=URL -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Samples.Csr.AgentDesktop.AddressBook.AddressBook" />

      <!-- address set by config entry: name=AgentDesktop_AgentStats_AgentState,type=URL -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Samples.Csr.AgentDesktop.AgentStats.AgentState" />

      <endpoint address="http://ccfiis/Microsoft.Ccf.Csr.WebServices.ContactCenter/ContactCenterStatistics.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Samples.Csr.AgentDesktop.ContactCenterStatistics.ContactCenterStatistics" />

      <!-- address set by config entry: name=AgentDesktop_Lookup_Lookup,type=URL -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Samples.Csr.AgentDesktop.Lookup.Lookup" />

      <!-- address set by config entry: name=AgentDesktop_NonHostedApplications_NonHostedApplication,type=URL -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Samples.Csr.AgentDesktop.NonHostedApplications.NonHostedApplication" />

      <!-- address set by config entry: name=AgentDesktop_Options_Options,type=URL -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Samples.Csr.AgentDesktop.Options.Options" />

      <!-- address set by config entry: name=AgentDesktop_SkillsRouting_Routing,type=URL -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Samples.Csr.AgentDesktop.SkillsRouting.Routing" />

      <!-- address set by config entry: name=Microsoft_Ccf_Samples_HostedControlInterfaces_RegisterClient_RegisterClient,type=URL -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Samples.HostedControlInterfaces.RegisterClient.RegisterClient" />

      <!-- address set by config entry: name=Microsoft_Ccf_Csr_Core_Application_Application,type=URL -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Csr.Application.Application" />

      <!-- address set by config entry: name=Microsoft_Ccf_Csr_Core_ContextWebServices_ContextWebServices,type=URL -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Csr.ContextWebServices.ContextWebServices" />

      <!-- address set by config entry: name=Microsoft_Ccf_Csr_Core_AuditLogWS_AuditLog,type=URL -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Csr.AuditLogWS.AuditLog" />

      <!-- address set by config entry: name=Microsoft_Samples_Ccf_DemoCode_CcfDemoApps_WorkFlowControl_WorkflowWS_WorkflowWs,type=URL -->
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding1" contract="Microsoft.Ccf.Samples.WfWorkflowControl.WorkflowWS.WorkflowWs" />

      <endpoint address="http://ccfiis/Microsoft.Ccf.Csr.WebServices.ContactCenter.AgentLoginManager/AgentLoginManager.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1"
        contract="Microsoft.Ccf.Common.AgentLoginManager.AgentLoginManager" />

      <endpoint address="http://ccfiis/Microsoft.Ccf.WebServices.MultiChannelHost/AdapterManagerInterface.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1"
        contract="Microsoft.Ccf.Multichannel.MultichannelApplicationsLibrary.AdapterManagerInterface.AdapterManagerInterface" />

      <endpoint address="http://ccfiis/Microsoft.Ccf.Csr.WebServices.AgentCredentials/AgentCredentials.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1"
        behaviorConfiguration="ImpersonationBehavior"
        contract="Microsoft.Ccf.Csr.AgentCredentials.AgentCredentials" />

      <endpoint address="http://ccfiis/Microsoft.Ccf.WebServices.HealthMonitor/HealthMonitorWebService.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1"
        contract="IHealthMonitorMessageHandler" />

      <endpoint address="http://ccfiis/Microsoft.Ccf.WebServices.MultiChannelHost/MultiChannelHostDAL.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1"
        contract="Microsoft.Ccf.Multichannel.MultichannelApplicationsLibrary.MultichannelHostDAL.IMultiChannelHostDAL" />

      <endpoint address="http://ccfiis/Microsoft.Ccf.Csr.WebServices.ContactCenter/Configuration.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1"
        contract="Microsoft.Ccf.Common.ConfigurationService.Configuration" />
    </client>
    <services>
      <service behaviorConfiguration="Behavior1" name="Microsoft.Ccf.Multichannel.MultichannelSubsystem">
        <endpoint address=""
          binding="basicHttpBinding" bindingConfiguration="Binding1"
          contract="Microsoft.Ccf.Multichannel.IMultichannelSubsystem" />
        <!-- When secure channel (SSL) is set to Required in IIS, change mexHttpBinding to mexHttpsBinding -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding1">
          <!--  default maxStringContentLength is insufficient for Configuration service -->
          <readerQuotas maxStringContentLength="99999999" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="Binding1Anon">
          <!--  default maxStringContentLength is insufficient for Configuration service -->
          <readerQuotas maxStringContentLength="99999999" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="Binding2">
          <!--  default maxStringContentLength is insufficient for Configuration service -->
          <readerQuotas maxStringContentLength="99999999" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="Binding2Anon">
          <!--  default maxStringContentLength is insufficient for Configuration service -->
          <readerQuotas maxStringContentLength="99999999" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Behavior1">
          <!-- When secure channel (SSL) is set to Required in IIS, change httpGetEnabled to httpsGetEnabled -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ImpersonationBehavior">
          <clientCredentials>
            <windows allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.windows.forms jitDebugging="true" />
  <appSettings>
    <!-- General settings for Agent Desktop -->
    <add key="ConfigurationArea" value="AgentDesktop"/>
    <add key="AgentDesktopCustomAuthenticationEndPointURL" value="http://ccfiis/Microsoft.Ccf.Csr.WebServices.ContactCenter.AgentLoginManager/AgentLoginManager.svc"/>
    <add key="Debug" value="false" />
    <add key="loadSessions" value="false" />
    <add key="showSplashScreen" value="true" />
    <add key="DebugUserId" value="demoagent2" />
    <add key="DebugUserPassword" value="Pass1word" />
    <add key="DebugUserDomain" value="ccf" />
    <add key="DesktopToolBar" value="false"/>
    <add key="authenticationMode" value="Windows"/>
    <add key="IADHealthMonitorTimeFrequency" value="30"/>
    <add key="AdapterManagerInterfaceEndPoint" value="http://ccfiis/Microsoft.Ccf.WebServices.MultichannelHost/AdapterManagerInterface.svc"/>
    <add key="MultichannelHostDALEndPoint" value="http://ccfiis/Microsoft.Ccf.WebServices.MultichannelHost/MultiChannelHostDAL.svc"/>
    <!--<add key="maxNumberOfSessions" value="2" />-->
  </appSettings>
</configuration>