<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="Microsoft.Ccf">
			<section name="Common.Listeners" type="Microsoft.Ccf.Common.Listeners.Configuration.ListenerConfigurationHandler, Microsoft.Ccf.Common.Listeners"/>
			<section name="Csr.Providers" type="Microsoft.Ccf.Common.Providers.Configuration.ProviderConfigurationHandler, Microsoft.Ccf.Common.Providers"/>
		</sectionGroup>
	</configSections>
	<Microsoft.Ccf>
		<Common.Listeners>
			<listeners>
				<add name="LoggingErrorMessage"
						type="Microsoft.Ccf.Common.Logging.Providers.LoggingErrorMessage, Microsoft.Ccf.Common.Logging.Providers"
				/>
				<add name="LoggingLogFile" type="Microsoft.Ccf.Common.Logging.Providers.LoggingLogFile, Microsoft.Ccf.Common.Logging.Providers" logfile="c:\CCF.log" appname="Customer Care Framework"/>
			</listeners>
		</Common.Listeners>
	</Microsoft.Ccf>
</configuration>