<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="Microsoft.Ccf.Samples.HostedControlInterfaces.RegisterClient.RegisterClient" value="http://ccfiis/Microsoft.Ccf.Csr.WebServices.ContactCenterAif/RegisterClient.svc" />
  </appSettings>
  <microsoft.web.services3>
    <diagnostics />
  </microsoft.web.services3>
  <system.serviceModel>
    <client>
      <endpoint address="http://ccfiis/Microsoft.Ccf.Csr.WebServices.ContactCenter/Configuration.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1"
        contract="Microsoft.Ccf.Common.ConfigurationService.Configuration" />
      <endpoint address="http://ccfiis/Microsoft.Ccf.Csr.WebServices.ContactCenterAif/RegisterClient.svc"
        binding="basicHttpBinding" bindingConfiguration="Binding1"
        contract="Microsoft.Ccf.Samples.HostedControlInterfaces.RegisterClient.RegisterClient" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="Binding1">
          <!--  default maxStringContentLength is insufficient for Configuration service -->
          <readerQuotas maxStringContentLength="99999999" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="Binding2">
          <!--  default maxStringContentLength is insufficient for Configuration service -->
          <readerQuotas maxStringContentLength="99999999" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>